{{> css/profile}}
{{> css/admin}}
{{> js/side-control}}
{{> js/chart}}
<div class="container-fluid">
    <div class="d-flex my-3 w-100">
        <div class="container border py-2 w-25" style="margin:0">
            <h4 class="mb-3">Số liệu</h4>
            <div id="swap-stats" class="d-flex align-items-center mb-5 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-gauge-high me-3 text-info" style="width:20px"></i>
                <p class="mb-0 text-info">Thống kê</p>
            </div>
            <h4 class="mb-3">Quản lý</h4>
            <div id="swap-category" class="d-flex align-items-center mb-3 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-layer-group me-3" style="width:20px"></i>
                <p class="mb-0">Danh mục</p>
            </div>
            <div id="swap-product" class="d-flex align-items-center mb-3 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-bag-shopping me-3" style="width:20px"></i>
                <p class="mb-0">Mặt hàng</p>
            </div>
            <div id="swap-user" class="d-flex align-items-center fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-user me-3" style="width:20px"></i>
                <p class="mb-0">Người dùng</p>
            </div>
        </div>
        {{> admin/stats}}
        {{> admin/m-category}}
        {{> admin/m-product}}
        {{> admin/m-user}}
    </div>
</div>