{{> css/profile}}
{{> js/side-control}}
{{> js/chart}}
<div class="container-fluid">
    <div class="d-flex my-3 w-100">
        <div class="container border py-2 w-25" style="margin:0">
            <h4 class="mb-3">Số liệu</h4>
            <div id="swap-stats" class="d-flex align-items-center mb-5 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-gauge-high me-3 text-info" style="width:20px"></i>
                <p class="mb-0 text-info">Thống kê</p>
            </div>
            <h4 class="mb-3">Quản lý</h4>
            <div id="swap-category" class="d-flex align-items-center mb-3 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-layer-group me-3" style="width:20px"></i>
                <p class="mb-0">Danh mục</p>
            </div>
            <div id="swap-product" class="d-flex align-items-center mb-3 fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-bag-shopping me-3" style="width:20px"></i>
                <p class="mb-0">Mặt hàng</p>
            </div>
            <div id="swap-user" class="d-flex align-items-center fs-5 side-button" style="cursor:pointer">
                <i class="fa-solid fa-user me-3" style="width:20px"></i>
                <p class="mb-0">Người dùng</p>
            </div>
        </div>
        <div id="screen-stats" class="container border screen-info py-2">
            <h4>Thống kê</h4>
            <hr>
            <div class="row row-cols-2">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-header">Hàng đã bán</div>
                        <div class="card-body">
                            <canvas id="chart-sales" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-header">Doanh thu</div>
                        <div class="card-body">
                            <canvas id="chart-revenue" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col mb-3" style="width:100%">
                    <div class="card">
                        <div class="card-header">Bán chạy nhất</div>
                        <div class="card-body d-flex justify-content-center">
                            <canvas id="chart-products" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col mb-3" style="width:100%">
                    <div class="card">
                        <div class="card-header">Đơn đặt hàng</div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="screen-category" class="d-none container border screen-info py-2">
            <h4>Danh mục</h4>
            <hr>
            <div class="d-flex align-items-center">
                <div class="container">
                    <h5>Nguyễn Quang Tuấn</h5>
                    <p>Suite 907 3355 Medhurst Roads, Murphyside, FL 01609-9853</p>
                </div>
                <a class="btn btn-primary ms-auto">Edit</a>
                <a class="btn btn-primary ms-2">Delete</a>
            </div>
        </div>
        <div id="screen-product" class="d-none container border screen-info py-2">
            <h4>Mặt hàng</h4>
            <hr>
            <div class="d-flex align-items-center">
                <div class="container">
                    <h5>Nguyễn Quang Tuấn</h5>
                    <p>Suite 907 3355 Medhurst Roads, Murphyside, FL 01609-9853</p>
                </div>
                <a class="btn btn-primary ms-auto">Edit</a>
                <a class="btn btn-primary ms-2">Delete</a>
            </div>
        </div>
        <div id="screen-user" class="d-none container border screen-info py-2">
            <h4>Người dùng</h4>
            <hr>
        </div>
    </div>
</div>