{{> css/profile}}
{{> js/side-control}}
<div class="container-fluid">
    <div class="d-flex mt-3">
        <div class="container border py-2 w-25" style="margin:0">
            <div id="swap-info" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-user me-2 text-info" style="width:20px"></i>
                <p class="mb-0 text-info">Profile</p>
            </div>
            <div id="swap-address" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-home me-2" style="width:20px"></i>
                <p class="mb-0">Address</p>
            </div>
            <div id="swap-orders" class="d-flex align-items-center side-button" style="cursor:pointer">
                <i class="fa-solid fa-shopping-cart me-2" style="width:20px"></i>
                <p class="mb-0">Orders</p>
            </div>
        </div>
        {{> profile/info}}
        {{> profile/address}}
        {{> profile/orders}}
    </div>
</div>