{{> css/profile}}
{{> js/side-control}}

{{#if messages.success}}
<div class="d-flex justify-content-end alert alert-success" role="alert">
    {{messages.success}}
</div>
{{/if}}

<div class="container-fluid">
    <div class="d-flex mt-3">
        <div class="container border fs-5 py-2 w-25" style="margin:0">
            <div id="swap-profile" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-user me-3 text-info" style="width:20px"></i>
                <p class="mb-0 text-info">Thông tin</p>
            </div>
            <div id="swap-payment" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-wallet me-3" style="width:20px"></i>
                <p class="mb-0">Số dư</p>
            </div>
            <div id="swap-orders" class="d-flex align-items-center side-button" style="cursor:pointer">
                <i class="fa-solid fa-shopping-cart me-3" style="width:20px"></i>
                <p class="mb-0">Đơn hàng</p>
            </div>
        </div>
        {{> profile/info}}
        {{> profile/payment}}
        {{> profile/orders}}
    </div>
    <div style="height:30vh"></div>
</div>