<script src="/js/profile.js"></script>
<div class="container-fluid">
    <div class="d-flex mt-3">
        <div class="container border py-2 w-25">
            <div id="swap-profile" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-user me-2 text-info" style="width:20px"></i>
                <p class="mb-0 text-info">Profile</p>
            </div>
            <div id="swap-address" class="d-flex align-items-center mb-3 side-button" style="cursor:pointer">
                <i class="fa-solid fa-home me-2" style="width:20px"></i>
                <p class="mb-0">Address</p>
            </div>
            <div id="swap-orders" class="d-flex align-items-center side-button" style="cursor:pointer">
                <i class="fa-solid fa-shopping-cart me-2" style="width:20px"></i>
                <p class="mb-0">Orders</p>
            </div>
        </div>
        <div id="screen-profile" class="container border screen-info py-2">
            <h4>My Profile</h4>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:15%" id="profile-username">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="profile-username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:15%" id="profile-name">Name</span>
                <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="profile-name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:15%" id="profile-email">Email</span>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="profile-email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:15%" id="profile-phone">Phone</span>
                <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="profile-phone">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:15%" id="profile-dob">DOB</span>
                <input type="text" class="form-control" placeholder="DOB" aria-label="DOB" aria-describedby="profile-dob">
            </div>
            <a class="btn btn-primary">Save</a>
        </div>
        <div id="screen-address" class="d-none container border screen-info py-2">
            <h4>My Address</h4>
            <hr>
            <div class="d-flex align-items-center">
                <div class="container">
                    <h5>Nguyễn Quang Tuấn</h5>
                    <p>Suite 907 3355 Medhurst Roads, Murphyside, FL 01609-9853</p>
                </div>
                <a class="btn btn-primary ms-auto">Edit</a>
                <a class="btn btn-primary ms-2">Delete</a>
            </div>
        </div>
        <div id="screen-orders" class="d-none container border screen-info py-2">
            <h4>My Orders</h4>
            <hr>
        </div>
    </div>
</div>