<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Nhập mã OTP</h5>
                    <form action="/acc/vertify" method="post">
                        <div class="form-floating mb-3">
                            <input name="otp" type="number" class="form-control" id="otp"
                                placeholder="Ex: something..." min = "1" max = "9999" required/>
                            <label for="floatingOtp">OTP</label>
                            {{#if messages.error}}
                            <div style="color: red;">
                                {{messages.error}}
                            </div>
                            {{/if}}
                        </div>
                        <div class="d-grid ">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>