<div class="container-fluid p-0">
    <footer class="text-center text-lg-start" style="background-color: rgba(0, 0, 0, 0.1)">
        <section class="d-flex justify-content-between p-4" style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="text-center w-100 fs-3">ABOUT US</div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Fashion House</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; height: 2px" />
                        <p>
                            Được thành lập vào năm 2023, với mục đích đáp ứng nhu cầu mua quần áo online, đảm bảo an toàn và bảo vệ lợi ích cho người dùng.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Thành viên</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; height: 2px" />
                        <p>Nguyễn Quang Tuấn</p>
                        <p>Cao Hữu Quốc</p>
                        <p>Nguyễn Huỳnh Phú Quý</p>
                        <p>Võ Anh Quân</p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">MSSV</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; height: 2px" />
                        <p>21127561</p>
                        <p>21127154</p>
                        <p>21127153</p>
                        <p>21127147</p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Liên hệ</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> TP. Hồ Chí Minh, Việt Nam</p>
                        <p><i class="fas fa-envelope mr-3"></i> fashionhouse@shop.vn</p>
                        <p><i class="fas fa-phone mr-3"></i> + 02 647 584 11</p>
                        <p><i class="fas fa-print mr-3"></i> + 02 556 655 94</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">© Fashion House, 2023</div>
    </footer>
</div>