<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid py-2">
        <a class="m-0 fs-1" style="font-family: Rouge; text-decoration: none; color: initial"
            href="/">Fashion House</a>
        {{#if home}}
        <div style="position: relative;">
            <form action="/relating-products" class="d-flex" role="search">
                <input class="form-control me-2 fs-4" type="search" placeholder="Mặc gì hôm nay?" aria-label="Search"
                    style="width:40rem;" id="user-input-products" name="type">
                <input class="form-control me-2 fs-4" type="search" aria-label="Search"
                    style="width:40rem; display: none" name="page" value="1">
                <button class="btn btn-outline-success fs-4">Tìm kiếm</button>
            </form>
            <div id="get-products-with-input" class="bg-black"
                style="position: absolute; z-index: 3; overflow: auto; height: 48rem">

            </div>
        </div>
        {{/if}}
        <div class="form-check form-switch">
            <input class="form-check-input fs-4" type="checkbox" role="switch" id="sw-theme" {{#if dark}} checked
                {{/if}} style="cursor:pointer" />
            <label for="sw-theme" class="form-check-label">
                <i class="fa-solid {{#if dark}} fa-moon {{else}} fa-sun {{/if}} fs-2"></i>
            </label>
            {{#if home}}
            <label>
                <form action="/home/myProfile" method="get">
                    <button type="submit" title="Profile" style="position: relative; bottom: 3px; border: 0; background: transparent; font-size: 25px">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </form>
            </label>

            <label>
                <form action="/logout" method="get">
                    <button type="submit" title="Đăng xuất" style="position: relative; bottom: 3px; border: 0; background: transparent; font-size: 25px">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                </form>
            </label>
            {{/if}}
        </div>
    </div>
</nav>
<div style="height:100px"></div>

<script>
    $(() => {
        $('#user-input-products').on('input', function () {
            const input = $('#user-input-products').val();
            if (input) {
                setTimeout(() => {
                    $.ajax({
                        url: `http://localhost:3000/home/getDataWithInput?input=${input}`,
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            const received = data.data;
                            $('#get-products-with-input').empty();
                            if (received.length > 0) {
                                for (const product of received) {
                                    $('#get-products-with-input').append(
                                        `<div class="card card-home card-in-search mb-1" data-id="${product.id}" style="max-width: 1000px;">
                                    <div class="row g-0" style="width: 39rem">
                                        <div class="col-md-4">
                                        <img src="${product.thumbnail}" style="width: 10rem; height: 11rem" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">${product.name}</h5>
                                            <p class="card-text">Giá tiền: ${product.newPrice}₫</p>
                                            <p class="card-text text-warning">Ưu đãi: ${product.sale}</p>
                                            <p class="card-text"><small class="text-body-secondary">Dành cho: ${product.for}</small></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>`
                                    )
                                }
                                $('#get-products-with-input').append(
                                    `<div class="d-flex justify-content-center bg-secondary rounded" id="button-in-search-list">
                                <button type="button" class="btn fs-5">Xem thêm</button>
                            </div>`
                                )
                                $('.card-in-search').on('click', function () {
                                    const product_id = $(this).data('id');
                                    window.location.href = `/details?id=${product_id}`;
                                });
                                $('#button-in-search-list').on('click', function () {
                                    const inputSearch = $('#user-input-products').val();
                                    window.location.href = `/relating-products?type=${inputSearch}&page=1`;
                                });
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }, 1000)
            } else {
                $('#get-products-with-input').empty();
            }
        });

        $('#user-input-products').on('focusin', function () {
            const input = $('#user-input-products').val();
            if (input) {
                setTimeout(() => {
                    $.ajax({
                        url: `http://localhost:3000/home/getDataWithInput?input=${input}`,
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            const received = data.data;
                            $('#get-products-with-input').empty();
                            for (const product of received) {
                                $('#get-products-with-input').append(
                                    `<div class="card card-home card-in-search mb-1" data-id="${product.id}" style="max-width: 1000px;">
                                    <div class="row g-0" style="width: 39rem">
                                        <div class="col-md-4">
                                        <img src="${product.thumbnail}" style="width: 10rem; height: 11rem" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">${product.name}</h5>
                                            <p class="card-text">Giá tiền: ${product.newPrice}₫</p>
                                            <p class="card-text text-warning">Ưu đãi: ${product.sale}</p>
                                            <p class="card-text"><small class="text-body-secondary">Dành cho: ${product.for}</small></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>`
                                )
                            }
                            $('#get-products-with-input').append(
                                `<div class="d-flex justify-content-center bg-secondary rounded"  id="button-in-search-list">
                                    <button type="button" class="btn fs-5">Xem thêm</button>
                                </div>`
                            )
                            $('.card-in-search').on('click', function () {
                                const product_id = $(this).data('id');
                                window.location.href = `/details?id=${product_id}`;
                            });
                            $('#button-in-search-list').on('click', function () {
                                const inputSearch = $('#user-input-products').val();
                                window.location.href = `/relating-products?type=${inputSearch}&page=1`;
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }, 0)
            } else {
                $('#get-products-with-input').empty();
            }
        })
    });
</script>