<div class="flex-box pt-3">
    <div class="left">
        <div class="big-img">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dee320a6-881b-483e-ae35-6e109171ca6c/dg7309u-ecf46257-8387-4402-a89a-06268d9acfd6.jpg/v1/fill/w_1920,h_3696,q_75,strp/furina_by_yonesdraws_dg7309u-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzY5NiIsInBhdGgiOiJcL2ZcL2RlZTMyMGE2LTg4MWItNDgzZS1hZTM1LTZlMTA5MTcxY2E2Y1wvZGc3MzA5dS1lY2Y0NjI1Ny04Mzg3LTQ0MDItYTg5YS0wNjI2OGQ5YWNmZDYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._hfMK-stuNLN3sww2GPhYzsHMw-MURZmz3dDvu2GbEI"
                onclick="showImg(this.src)" alt="">
        </div>
        <div class="images">
            <div class="small-img">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dee320a6-881b-483e-ae35-6e109171ca6c/dg7309u-ecf46257-8387-4402-a89a-06268d9acfd6.jpg/v1/fill/w_1920,h_3696,q_75,strp/furina_by_yonesdraws_dg7309u-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzY5NiIsInBhdGgiOiJcL2ZcL2RlZTMyMGE2LTg4MWItNDgzZS1hZTM1LTZlMTA5MTcxY2E2Y1wvZGc3MzA5dS1lY2Y0NjI1Ny04Mzg3LTQ0MDItYTg5YS0wNjI2OGQ5YWNmZDYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._hfMK-stuNLN3sww2GPhYzsHMw-MURZmz3dDvu2GbEI"
                    onclick="showImg(this.src)" alt="">
            </div>
            <div class="small-img">
                <img src="https://cdn.donmai.us/sample/c4/bb/__furina_genshin_impact_drawn_by_ineka_ka__sample-c4bb2d22ffed58964f70aba7af8e7d2e.jpg"
                    onclick="showImg(this.src)" alt="">
            </div>
            <div class="small-img">
                <img src="https://ih1.redbubble.net/image.5261101223.0482/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
                    onclick="showImg(this.src)" alt="">
            </div>
            <div class="small-img">
                <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/f82456c9-cbc1-473d-91d9-c5d10576c81c/width=450/furina-557435283.jpeg"
                    onclick="showImg(this.src)" alt="">
            </div>
        </div>
    </div>
    <div class="right">
        <div class="product-content pt-0">
            <h2 class="product-title mt-0">Furina</h2>
            <a href="#" class="product-link">Thủy thần Fotaine</a>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>4.7 (21)</span>
            </div>
            <div class="product-price">
                <p class="last-price" style="text-align: left;">Giá cũ: <span>257.000 VND</span></p>
                <p class="new-price">Giá mới: <span>199.000 VND (-15%)</span></p>
            </div>
            <div class="product-detail">
                <h2>Về sản phẩm này</h2>
                <p>Ei: Raiden Shogun từng chiến đấu hàng trăm năm với tôi trong thế giới ý thức để xác nhận rằng tôi
                    luôn kiên định. Còn về Furina, tuy trong thân xác phàm trần, nhưng màn trình diễn của cô ấy cứ như
                    là trận chiến tinh thần ròng rã suốt 500 năm vậy. Tôi thừa nhận cô ấy, ý chí ở cấp độ này có thể coi
                    là cảnh giới của thần rồi.</p>
                <p>Zhongli: Ký khế ước giải cứu đất nước với "chính mình", sau đó tuân thủ nghiêm ngặt trong 500 năm,
                    cuối cùng là đánh lừa cả Thiên Lý... Tôi tôn trọng kiểu "chính nghĩa" cần tự mình thực thi này. Dù
                    cho phần thần cách đã tan biến, ngai thần cũng không còn tồn tại, nhưng với lịch sử của toàn
                    Fontaine thì Furina vẫn là một vị thần chính nghĩa đáng được công nhận.</p>

                <div>
                    <li>Màu: <span>Neuma</span></li>
                    <li>Tình trạng: <span>Còn hàng</span></li>
                    <li>Loại hàng: <span>Waifu</span></li>
                    <li>Vị trí giao hàng: <span>Toàn quốc</span></li>
                    <li>Phí vận chuyển: <span>Miễn phí</span></li>
                </div>
            </div>
            <div class="purchase-info">
                <input type="number" min="0" value="1">
                <button class="btn">
                    Thêm vào giỏ hàng
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <button class="btn">
                    Mua ngay
                </button>
            </div>

            <div class="social-link">
                <p>Chia sẻ với:</p>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
            </div>
        </div>
        <div class="comment-session">
            <div class="post-comment">
                <div class="list">
                    <div class="user">
                        <div class="user-image"><img
                                src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                                alt="avatar"></div>

                        <div class="user-meta">
                            <div class="name">Furibu</div>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="day">10 ngày trước</div>
                        </div>
                    </div>
                    <div class="comment-post">
                        Đây là sản phẩm tốt nhất tôi từng dùng.
                    </div>
                </div>
            </div>
            <div class="comment-box">
                <div class="user">
                    <div class="image"><img
                            src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                            alt="avatar"></div>
                    <div class="name">Furibu</div>
                </div>
                <form action="">
                    <textarea name="comment" id="" cols="30" rows="10" placeholder="Bình luận của bạn ..."></textarea>
                    <button type="button" class="comment-button" id="cmt-btn" style="height: auto; width: auto">Bình
                        luận</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="">
            <header>
                Bạn đánh giá sản phẩm bao nhiêu sao ?
            </header>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="d-flex pt-3 justify-content-center">
                <button type="submit" class="btn btn-primary mx-1" style="height: auto; width: auto">Đánh giá</button>
                <button type="button" class="btn btn-danger" style="height: auto; width: auto" id="close">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<script>
    let bigImg = document.querySelector('.big-img img');
    function showImg(pic) {
        bigImg.src = pic;
    }
    const stars = $(".stars i");
    stars.on("click", function () {
        const index1 = $(this).index();
        stars.each(function (index2) {
            index1 >= index2 ? $(this).addClass("active") : $(this).removeClass("active");
        });
    });

    $(document).ready(function () {
    let modal = $("#myModal");
    let btn = $("#cmt-btn");
    let span = $("#close");

    btn.click(function () {
        modal.css("display", "block");
    });

    span.click(function () {
        modal.css("display", "none");
    });

    $(window).click(function (event) {
        if (event.target == modal[0]) {
            modal.css("display", "none");
        }
    });
});
</script>