<div class="container text-center mt-3">
    <div class="row">
        <div class="col-3">
            <div class="card" style="height: 640px">
                <h5 class="card-header text-white" style="background-color: transparent; text-align: left;">
                    <i class="fa-solid fa-circle" style="color: red;"></i>
                    <i class="fa-solid fa-circle" style="color: yellow;"></i>
                    <i class="fa-solid fa-circle" style="color: green;"></i>
                </h5>
                <div class="card-body">
                    <div class="searchbar">
                        <input placeholder="Search..." id="searchBar" name="searchBar" type="text">
                        <i class="fa-solid fa-magnifying-glass glass"></i>
                    </div>
                    <div class="pt-2" id="opts">
                        <button class="opt-value" onclick="fillterProduct('All')">All</button>
                        <button class="opt-value" onclick="fillterProduct('Hoodie')">Hoodie</button>
                        <button class="opt-value" onclick="fillterProduct('Jeans')">Jeans</button>
                        <button class="opt-value" onclick="fillterProduct('Cardigan')">Cardigan</button>
                        <button class="opt-value" onclick="fillterProduct('T-Shirt')">T-Shirt</button>
                    </div>
                </div>
                <div class="">
                    <div style="text-align: center;">
                        <div class="horizontal-line" style="border: 1px solid gold; width: 75%; display: inline-block;">
                        </div>
                    </div>
                    <div class="social-icons" style="text-align: center;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card" style="height: 640px;">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" style="font-size: 16px;">Liên quan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="font-size: 16px;">Mới nhất</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="font-size: 16px;">Bán chạy</a>
                                </li>
                                <li class="nav-item btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span class="navbar-text-dropdown" style="font-size: 16px;">
                                            Giá
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" style="font-size: 16px;" href="#">Giá: Thấp đến
                                                Cao</a></li>
                                        <li><a class="dropdown-item" style="font-size: 16px;" href="#">Giá: Cao đến
                                                thấp</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <span class="navbar-text">
                                >> T-Shirt
                            </span>
                        </div>
                    </div>
                </nav>
                <div class="header">
                    <p>BUY EVERYTHING ONLINE</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.dropdown-item').on('click', function () {
            let selectedValue = $(this).text();
            $('.navbar-text-dropdown').text(selectedValue);
        });
    });
    function fillterProduct(value) {
        let opts = document.querySelectorAll(".opt-value");
        opts.forEach((button) => {
            if (value.toUpperCase() == button.innerText.toUpperCase()) {
                button.classList.add("active-opt");
                $('.navbar-text').text(value);
            } else {
                button.classList.remove("active-opt");
            }
        });
    }
</script>