<script>
    $(() => {
        let data, userCur;
        let pageCur = 1;

        // Pagination
        $(".page-user").on("click", function() {
            $(".page-user.active").removeClass("active");
            $(this).addClass("active");

            $(".page-arrows a.disabled").removeClass("disabled");
            if ($(this).parent().next().hasClass("page-arrows")) $("#page-user-next").addClass("disabled");
            if ($(this).parent().prev().hasClass("page-arrows")) $("#page-user-prev").addClass("disabled");

            let page = $(this).text();
            pageCur = Number(page);

            $("#user-container").empty();

            $.ajax({
                type: 'POST',
                url: '/admin/getuser',
                data: {
                    page: page
                },
                success: function(result) {
                    data = result;
                    result.forEach(item => {
                        $("#user-container").append(
                            `<a class="list-group-item list-group-item-action list-item-user">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">${item.username}</h5>
                                    <small>${item.role}</small>
                                </div>
                                <p class="mb-1">${item.email}</p>
                            </a>`
                        );
                    });
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $(".page-arrows a").on("click", function() {
            let id = $(this).attr("id");

            if (id.includes("prev")) pageCur--;
            else pageCur++;

            $(`#page-user-${pageCur}`).trigger("click");
        });

        $(`#page-user-${pageCur}`).trigger("click");

        // CRUD - Create
        $("#open-add-user").on("click", function() {
            $("#edit-user").removeClass("d-none").find("input").val("");
            $("#user-container,#user-pagination,.btn-edit-user").addClass("d-none");
            $("#add-user").removeClass("d-none");
            $("#user-password").parent().removeClass("d-none");
        });

        $("#add-user").on("click", function() {
            let userAdd = {};
            for (const key in userCur) {
                userAdd[key] = $(`#user-${key}`).next().val();
                if (!userAdd[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/adduser',
                data: userAdd,
                success: function(result) {
                    if (result === 'err_username') {
                        return alert('Tên người dùng đã tồn tại!');
                    }
                    else if (result === 'err_email') {
                        return alert('Email đã tồn tại!');
                    }
                    alert('Thêm tài khoản thành công!');
                    $("#user-pagination .page-link-num.active").trigger("click");
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        // CRUD - Read
        $("body").on("click", ".list-item-user", function() {
            $("#edit-user").removeClass("d-none");
            $("#user-container,#user-pagination").addClass("d-none");

            userCur = data[$(this).index()];

            for (const key in userCur) {
                if (key === "password") continue;
                let value = userCur[key];
                if (key === "dob") value = value.split("T")[0];
                $(`#user-${key}`).next().val(value);
            }
        });

        // CRUD - Update
        $("#update-edit-user").on("click", function() {
            let userUpdate = {usernameOld: userCur.username};
            for (const key in userCur) {
                if (key === "password") continue;
                userUpdate[key] = $(`#user-${key}`).next().val();
                if (!userUpdate[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/upduser',
                data: userUpdate,
                success: function(result) {
                    if (result === 'err_username') {
                        return alert('Tên người dùng đã tồn tại!');
                    }
                    alert('Tài khoản cập nhật thành công!');
                    $("#user-pagination .page-link-num.active").trigger("click");
                    $("#cancel-edit-user").trigger("click");
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#cancel-edit-user").on("click", function() {
            $("#edit-user,#add-user").addClass("d-none");
            $("#user-password").parent().addClass("d-none");
            $("#user-container,#user-pagination,.btn-edit-user").removeClass("d-none");
        });

        // CRUD - Delete
        $("#delete-edit-user").on("click", function() {
            $.ajax({
                type: 'POST',
                url: '/admin/deluser',
                data: {
                    username: userCur.username
                },
                success: function(result) {
                    if (result === 'err_username') {
                        return alert('Không thể xóa tài khoản đang đăng nhập!');
                    }
                    alert('Xóa tài khoản thành công!');
                    $("#user-pagination .page-link-num.active").trigger("click");
                    $("#cancel-edit-user").trigger("click");
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });
    })
</script>