<script>
    $(() => {
        let pageCur = 1;

        $(".page-product").on("click", function() {
            $(".page-product.active").removeClass("active");
            $(this).addClass("active");

            $(".page-arrows a.disabled").removeClass("disabled");
            if ($(this).parent().next().hasClass("page-arrows")) $("#page-product-next").addClass("disabled");
            if ($(this).parent().prev().hasClass("page-arrows")) $("#page-product-prev").addClass("disabled");

            let page = $(this).text();
            pageCur = Number(page);

            $("#product-container").empty();

            $.ajax({
                type: 'POST',
                url: '/admin/getpro',
                data: {
                    page: page
                },
                success: function(result) {
                    result.forEach(item => {
                        $("#product-container").append(
                            `<a class="list-group-item list-group-item-action">
                                <div class="d-flex align-items-center">
                                    <img src="${item.images[0] ? item.images[0] : ""}"
                                    class="me-3" style="width:70px;height:70px">
                                    <div class="d-flex w-100 flex-column">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">#${item.id}</h5>
                                            <small>${item.category}</small>
                                        </div>
                                        <p class="mb-1">${item.name}</p>
                                    </div>
                                </div>
                            </a>`
                        );
                    });
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $(".page-arrows a").on("click", function() {
            let id = $(this).attr("id");

            if (id.includes("prev")) pageCur--;
            else pageCur++;

            $(`#page-product-${pageCur}`).trigger("click");
        });

        $(`#page-product-${pageCur}`).trigger("click");
    })
</script>