<script>
    $(() => {
        let data, proCur;
        let pageCur = 1;

        const fields = ['name', 'create_date', 'brand', 'color', 'images', 'price', 'description', 'sale', 'for', 'id_category'];

        // Pagination
        $(".page-pro").on("click", function() {
            $(".page-pro.active").removeClass("active");
            $(this).addClass("active");

            $("#pro-pagination .page-arrows a.disabled").removeClass("disabled");
            if ($(this).parent().next().hasClass("page-arrows")) $("#page-pro-next").addClass("disabled");
            if ($(this).parent().prev().hasClass("page-arrows")) $("#page-pro-prev").addClass("disabled");

            let page = $(this).text();
            pageCur = Number(page);

            $("#pro-container").empty();

            $.ajax({
                type: 'POST',
                url: '/admin/getpro',
                data: {
                    page: page
                },
                success: function(result) {
                    data = result;
                    proCur = data[0];
                    result.forEach(item => {
                        $("#pro-container").append(
                            `<a class="list-group-item list-group-item-action list-item-pro">
                                <div class="d-flex align-items-center">
                                    <img src="${item.images[0] ? item.images[0] : ""}"
                                    class="me-3" style="width:70px;height:70px">
                                    <div class="d-flex w-100 flex-column">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">#${item.id}</h5>
                                            <small>${item.categoryname}</small>
                                        </div>
                                        <p class="mb-1">${item.name}</p>
                                    </div>
                                </div>
                            </a>`
                        );
                    });
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#pro-pagination .page-arrows a").on("click", function() {
            let id = $(this).attr("id");

            if (id.includes("prev")) pageCur--;
            else pageCur++;

            $(`#page-pro-${pageCur}`).trigger("click");
        });

        $(`#page-pro-${pageCur}`).trigger("click");

        // CRUD - Create
        $("#open-add-pro").on("click", function() {
            $(".file-input").show();
            $("#edit-pro").removeClass("d-none").find("input,textarea").val("");
            $("#pro-container,#pro-pagination,.btn-edit-pro").addClass("d-none");
            $("#add-pro").removeClass("d-none");
        });

        $("#add-pro").on("click", function() {
            let proAdd = {};
            for (const key in proCur) {
                if (!fields.includes(key)) continue;
                proAdd[key] = $(`#pro-${key}`).next().val();
                if (!proAdd[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/addpro',
                data: proAdd,
                success: function(result) {
                    alert('Thêm sản phẩm thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        // CRUD - Read
        $("body").on("click", ".list-item-pro", function() {
            $(".file-input").hide();
            $("#edit-pro").removeClass("d-none");
            $("#pro-container,#pro-pagination").addClass("d-none");

            proCur = data[$(this).index()];

            for (const key in proCur) {
                if (!fields.includes(key)) continue;
                let value = proCur[key];
                if (key === "create_date") value = value.split("T")[0];
                if (typeof value === "string") value = value.trim();
                $(`#pro-${key}`).next().val(value);
            }
        });

        // CRUD - Update
        $("#update-edit-pro").on("click", function() {
            let proUpdate = {id: proCur.id};
            for (const key in proCur) {
                if (!fields.includes(key)) continue;
                proUpdate[key] = $(`#pro-${key}`).next().val();
                if (!proUpdate[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/updpro',
                data: proUpdate,
                success: function(result) {
                    alert('Sản phẩm cập nhật thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#cancel-edit-pro").on("click", function() {
            $("#edit-pro,#add-pro").addClass("d-none");
            $("#pro-container,#pro-pagination,.btn-edit-pro").removeClass("d-none");
        });

        // CRUD - Delete
        $("#delete-edit-pro").on("click", function() {
            $.ajax({
                type: 'POST',
                url: '/admin/delpro',
                data: {
                    id: proCur.id
                },
                success: function(result) {
                    alert('Xóa sản phẩm thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        // Upload file
        $("#pro-upload").fileinput({
            uploadUrl: "/upload",
            uploadAsync: false,
            maxFileCount: 5
        });

        $("#pro-upload").on('filebatchuploadsuccess', function(event, data, previewId, index) {
            $("#pro-images").next().val(data.response.files.map(e => e.destination + '/' + e.filename).join(","));
        });
    })
</script>