<script>
    $(() => {
        let data, userCur;
        let pageCur = 1;

        // Pagination
        $(".page-user").on("click", function() {
            $(".page-user.active").removeClass("active");
            $(this).addClass("active");

            $(".page-arrows a.disabled").removeClass("disabled");
            if ($(this).parent().next().hasClass("page-arrows")) $("#page-user-next").addClass("disabled");
            if ($(this).parent().prev().hasClass("page-arrows")) $("#page-user-prev").addClass("disabled");

            let page = $(this).text();
            pageCur = Number(page);

            $("#user-container").empty();

            $.ajax({
                type: 'POST',
                url: '/admin/getuser',
                data: {
                    page: page
                },
                success: function(result) {
                    data = result;
                    result.forEach(item => {
                        $("#user-container").append(
                            `<a href="#" class="list-group-item list-group-item-action list-item-user">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">${item.username}</h5>
                                    <small>${item.role}</small>
                                </div>
                                <p class="mb-1">${item.email}</p>
                            </a>`
                        );
                    });
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $(".page-arrows a").on("click", function() {
            let id = $(this).attr("id");

            if (id.includes("prev")) pageCur--;
            else pageCur++;

            $(`#page-user-${pageCur}`).trigger("click");
        });

        $(`#page-user-${pageCur}`).trigger("click");

        // CRUD
        $("body").on("click", ".list-item-user", function() {
            $("#edit-user").removeClass("d-none");
            $("#user-container,#user-pagination").addClass("d-none");

            userCur = data[$(this).index()];

            for (const key in userCur) {
                if (key === "password") continue;
                let value = userCur[key];
                if (key === "dob") value = value.split("T")[0];
                $(`#user-${key}`).next().val(value);
            }
        });

        $("#update-edit-user").on("click", function() {
            let userUpdate = {};
            for (const key in userCur) {
                if (key === "password") continue;
                userUpdate[key] = $(`#user-${key}`).next().val();
            }

            $.ajax({
                type: 'POST',
                url: '/admin/upduser',
                data: userUpdate,
                success: function(result) {
                    alert('User updated!');
                    $("#user-pagination .page-link-num.active").trigger("click");
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#cancel-edit-user").on("click", function() {
            $("#edit-user").addClass("d-none");
            $("#user-container,#user-pagination").removeClass("d-none");
        });
    })
</script>