<div id="screen-category" class="d-none container border screen-info py-2">
    <h4>Danh mục</h4>
    <hr>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">#00001</h5>
            </div>
            <p class="mb-1">Category Name</p>
            <small>12 Products</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">#00001</h5>
            </div>
            <p class="mb-1">Category Name</p>
            <small>12 Products</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">#00001</h5>
            </div>
            <p class="mb-1">Category Name</p>
            <small>12 Products</small>
        </a>
    </div>
</div>