<div id="screen-category" class="d-none container border screen-info py-2">
    <h4>Danh mục</h4>
    <hr>
    <div class="d-flex align-items-center">
        <div class="container">
            <h5>Nguyễn Quang Tuấn</h5>
            <p>Suite 907 3355 Medhurst Roads, Murphyside, FL 01609-9853</p>
        </div>
        <a class="btn btn-primary ms-auto">Edit</a>
        <a class="btn btn-primary ms-2">Delete</a>
    </div>
</div>