{{> js/admin/crud-product}}
<div id="screen-product" class="d-none container border screen-info py-2">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="m-0">Mặt hàng</h4>
        <a id="open-add-pro" class="btn btn-primary">+ Thêm</a>
    </div>
    <hr>
    <div id="edit-pro" class="container d-none">
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-name">Tên sản phẩm</span>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="pro-name">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-create_date">Ngày sản xuất</span>
            <input type="date" class="form-control" placeholder="Creation Date" aria-label="Creation Date" aria-describedby="pro-create_date">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-brand">Nhãn hiệu</span>
            <input type="text" class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="pro-brand">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-color">Màu sắc</span>
            <input type="text" class="form-control" placeholder="Color" aria-label="Color" aria-describedby="pro-color">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-images">Hình ảnh</span>
            <input type="text" class="form-control" placeholder="Images" aria-label="Images" aria-describedby="pro-images">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-price">Giá tiền</span>
            <input type="number" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="pro-price" style="text-align:left">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-description">Miêu tả</span>
            <textarea type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="pro-description" style="height:200px"></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-sale">Giảm giá</span>
            <input type="text" class="form-control" placeholder="Sale" aria-label="Sale" aria-describedby="pro-sale">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-for">Dành cho</span>
            <select class="form-select">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="pro-category">Danh mục</span>
            <select class="form-select">
                <option value="cat_name_1">Category 1</option>
                <option value="cat_name_2">Category 2</option>
            </select>
        </div>
        <div class="d-flex mb-2">
            <a id="update-edit-pro" class="btn btn-primary btn-edit-pro me-2">Cập nhật</a>
            <a id="delete-edit-pro" class="btn btn-primary btn-edit-pro me-2">Xóa sản phẩm</a>
            <a id="add-pro" class="btn btn-primary me-2 d-none">Thêm sản phẩm</a>
            <a id="cancel-edit-pro" class="btn btn-primary">Thoát</a>
        </div>
    </div>
    <div id="pro-container" class="list-group list-group-container mb-3">
    </div>
    <nav id="pro-pagination" aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item page-arrows">
                <a id="page-pro-prev" class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each pages_p}}
                <li class="page_item">
                    <a id="page-pro-{{this}}" class="page-link page-link-num page-pro {{#if @first}} active {{/if}}">{{this}}</a>
                </li>
            {{/each}}
            <li class="page-item page-arrows">
                <a id="page-pro-next" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>