<div id="screen-product" class="d-none container border screen-info py-2">
    <h4>Mặt hàng</h4>
    <hr>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="https://cdn.discordapp.com/attachments/1016582802432589864/1046453384963702875/cutscene6007_06.png"
                class="me-3" style="width:70px;height:70px">
                <div class="d-flex w-100 flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">#00001</h5>
                        <small>Product Category</small>
                    </div>
                    <p class="mb-1">Product Name</p>
                    <small>Product Description</small>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="https://cdn.discordapp.com/attachments/1016582802432589864/1046453384963702875/cutscene6007_06.png"
                class="me-3" style="width:70px;height:70px">
                <div class="d-flex w-100 flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">#00001</h5>
                        <small>Product Category</small>
                    </div>
                    <p class="mb-1">Product Name</p>
                    <small>Product Description</small>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img src="https://cdn.discordapp.com/attachments/1016582802432589864/1046453384963702875/cutscene6007_06.png"
                class="me-3" style="width:70px;height:70px">
                <div class="d-flex w-100 flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">#00001</h5>
                        <small>Product Category</small>
                    </div>
                    <p class="mb-1">Product Name</p>
                    <small>Product Description</small>
                </div>
            </div>
        </a>
    </div>
</div>