{{> js/admin/page-product}}
<div id="screen-product" class="d-none container border screen-info py-2">
    <h4>Mặt hàng</h4>
    <hr>
    <div id="product-container" class="list-group mb-3" style="height:1000px;overflow-y:auto">
    </div>
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item page-arrows">
                <a id="page-product-prev" class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each pages_p}}
                <li class="page_item">
                    <a id="page-product-{{this}}" class="page-link page-link-num page-product {{#if @first}} active {{/if}}">{{this}}</a>
                </li>
            {{/each}}
            <li class="page-item page-arrows">
                <a id="page-product-next" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>