<div id="screen-user" class="d-none container border screen-info py-2">
    <h4>Người dùng</h4>
    <hr>
    <div class="list-group">
        {{#each users}}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{username}}</h5>
                <small>{{role}}</small>
            </div>
            <p class="mb-1">{{email}}</p>
        </a>
        {{/each}}
    </div>
</div>